In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/LinkedInLearning/data_cleaning_python_2883183/main/Ch05/05_03/2021-06.csv')

In [3]:
df.head()

   day         time   client
0    1  09:00-11:00    ecorp
1    1  12:00-18:00  allsafe
2    2  10:00-19:30  allsafe
3    3  11:30-17:00    ecorp

In [4]:
df.dtypes

day        int64
time      object
client    object
dtype: object

In [5]:
# create a file name
csv_file = '2021-06.csv'

In [6]:
# put a new column using csv date
df['date'] = csv_file[:-len('.csv')]
df

   day         time   client     date
0    1  09:00-11:00    ecorp  2021-06
1    1  12:00-18:00  allsafe  2021-06
2    2  10:00-19:30  allsafe  2021-06
3    3  11:30-17:00    ecorp  2021-06

In [7]:
times = df['time'].str.split('-', expand=True)
times.columns = ['start', 'end']
times

   start    end
0  09:00  11:00
1  12:00  18:00
2  10:00  19:30
3  11:30  17:00

expand means make it two columns, and give it a name start and end

In [8]:
# concatenate these two dataframes together to create one single dataframe
# axis = 1 means we want to do it horizontally
df = pd.concat([df, times], axis=1)
df

   day         time   client     date  start    end
0    1  09:00-11:00    ecorp  2021-06  09:00  11:00
1    1  12:00-18:00  allsafe  2021-06  12:00  18:00
2    2  10:00-19:30  allsafe  2021-06  10:00  19:30
3    3  11:30-17:00    ecorp  2021-06  11:30  17:00

In [9]:
#convert into datetime
df['start'] = pd.to_datetime(
    df['date'].str.cat(df['start'], sep='T')
)
df['end'] = pd.to_datetime(
    df['date'].str.cat(df['end'], sep='T')
)
df

   day         time   client     date               start                 end
0    1  09:00-11:00    ecorp  2021-06 2021-06-01 09:00:00 2021-06-01 11:00:00
1    1  12:00-18:00  allsafe  2021-06 2021-06-01 12:00:00 2021-06-01 18:00:00
2    2  10:00-19:30  allsafe  2021-06 2021-06-01 10:00:00 2021-06-01 19:30:00
3    3  11:30-17:00    ecorp  2021-06 2021-06-01 11:30:00 2021-06-01 17:00:00

In [10]:
# how much we work?
# sum of end - start
(df['end'] - df['start']).sum()

Timedelta('0 days 23:00:00')