In [3]:
import pandas as pd
import numpy as np

In [1]:
pip install pyarrow

Requirement already satisfied: pyarrow in /opt/anaconda3/lib/python3.9/site-packages (8.0.0)
Requirement already satisfied: numpy>=1.16.6 in /opt/anaconda3/lib/python3.9/site-packages (from pyarrow) (1.21.5)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pyarrow as pa

In [ ]:
'time': pd.date_range('2021', freq='17s', periods=size)
    generates year 2021 with 17 seconds time interval
'name': ['cpu'] * size,
    generates all cpu values that is size 5 (5 rows)
'value': np.random.rand(size) * 40,
    generates random values multiplied by 40

In [14]:
size = 5
df = pd.DataFrame({
    'time': pd.date_range('2021', freq='17s', periods=size),
    'name': ['cpu'] * size,
    'value': np.random.rand(size) * 40,
})
df

                 time name      value
0 2021-01-01 00:00:00  cpu  22.104562
1 2021-01-01 00:00:17  cpu  14.768341
2 2021-01-01 00:00:34  cpu  15.585631
3 2021-01-01 00:00:51  cpu  33.020802
4 2021-01-01 00:01:08  cpu  24.519828

In [20]:
schema = pa.schema([
    ('time', pa.timestamp('ms')),
    ('name', pa.string()),
    ('value', pa.float64()),
])

In [26]:
out_file = 'metrics.parquet'
df.to_parquet(out_file, schema=schema)

In [27]:
pd.read_parquet(out_file)

                 time name      value
0 2021-01-01 00:00:00  cpu  22.104562
1 2021-01-01 00:00:17  cpu  14.768341
2 2021-01-01 00:00:34  cpu  15.585631
3 2021-01-01 00:00:51  cpu  33.020802
4 2021-01-01 00:01:08  cpu  24.519828

In [31]:
df['time'] = df['time'].astype(str)
df.to_parquet(out_file, schema=schema)

ArrowTypeError: ("object of type <class 'str'> cannot be converted to int", 'Conversion failed for column time with type object')

In [ ]:
produces an error because the schema cannot produce this type of data as it is not mentioned ont he s