In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/LinkedInLearning/data_cleaning_python_2883183/main/Ch01/01_03/metrics.csv')

In [3]:
df.head(2)

                      time name         value
0  2021-07-13 14:36:52.380  mem  2.275172e+08
1  2021-07-13 14:36:52.380  cpu  3.157000e+01

In [5]:
#stddev of numeric columns

print(df.std())

value    1.143110e+08
dtype: float64

/var/folders/_c/7_nlp2l53sbcnpz463hcc70w0000gn/T/ipykernel_2020/665624964.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(df.std())

In [6]:
df.describe()

              value
count  1.000000e+02
mean   1.114856e+08
std    1.143110e+08
min   -3.214000e+01
25%    3.152000e+01
50%    2.979500e+02
75%    2.275186e+08
max    2.275561e+08

In [12]:
#stddev mem's value
#mem is under name column
mem = df[df['name'] == 'mem']['value']
mem

0     227517194.0
2     227519176.0
4     227515712.0
6           295.0
8     227531324.0
11    227528488.0
12    227515595.0
15    227525066.0
17    227531520.0
19    227508323.0
21    227519918.0
23    227523134.0
25    227517742.0
26    227526537.0
28    227514284.0
30    227528568.0
32    227516744.0
35    227538721.0
37    227537406.0
39    227543777.0
40    227555962.0
42    227548711.0
44    227547875.0
46    227540807.0
49    227547996.0
51    227556054.0
53    227551174.0
55    227552297.0
57    227536294.0
59    227529078.0
60    227534673.0
63    227532677.0
64    227529274.0
67    227517273.0
69    227506948.0
71    227497850.0
72    227493728.0
75    227495928.0
77    227512097.0
79    227518444.0
81    227499510.0
83    227507039.0
85    227496995.0
87    227496194.0
88    227509918.0
91    227501851.0
93    227493116.0
95    227498512.0
97    227492915.0
98    227496663.0
Name: value, dtype: float64

A Z-Score is a statistical measurement of a score's relationship to the mean in a group of scores.

A Z-score can reveal to a trader if a value is typical for a specified data set or if it is atypical.

In general, a Z-score below 1.8 suggests a company might be headed for bankruptcy, 
while a score closer to 3 suggests a company is in solid financial positioning.

Simply put, a z-score (also called a standard score) 
gives you an idea of how far from the mean a data point is. 
But more technically it’s a measure of how many standard deviations 
below or above the population mean a raw score is.

The basic z score formula for a sample is:

z = (x – μ) / σ

The z score tells you how many standard deviations from the mean your score is. In this example, your score is 1.6 standard deviations above the mean.

Technically, a z-score is the number of standard deviations from the mean value of the reference population (a population whose known values have been recorded, like in these charts the CDC compiles about people’s weights). For example:

A z-score of 1 is 1 standard deviation above the mean.
A score of 2 is 2 standard deviations above the mean.
A score of -1.8 is -1.8 standard deviations below the mean.

A z-score tells you where the score lies on a normal distribution curve. A z-score of zero tells you the values is exactly average while a score of +3 tells you that the value is much higher than average.

5. How is it Used in Real Life?
You can use the z-table and the normal distribution graph to give you a visual about how a z-score of 2.0 means “higher than average”. Let’s say you have a person’s weight (240 pounds), and you know their z-score is 2.0. You know that 2.0 is above average (because of the high placement on the normal distribution curve), but you want to know how much above average is this weight?

The z-score in the center of the curve is zero. The z-scores to the right of the mean are positive and the z-scores to the left of the mean are negative. If you look up the score in the z-table, you can tell what percentage of the population is above or below your score. The table below shows a z-score of 2.0 highlighted, showing .9772 (which converts to 97.72%). If you look at the same score (2.0) of the normal distribution curve above, you’ll see it corresponds with 97.72%.

In [22]:
zscore = (mem - mem.mean())/mem.std()
zscore

0     0.141285
2     0.141347
4     0.141239
6    -6.929645
8     0.141724
11    0.141636
12    0.141236
15    0.141530
17    0.141730
19    0.141010
21    0.141370
23    0.141470
25    0.141302
26    0.141576
28    0.141195
30    0.141639
32    0.141271
35    0.141954
37    0.141913
39    0.142111
40    0.142490
42    0.142265
44    0.142239
46    0.142019
49    0.142243
51    0.142493
53    0.142341
55    0.142376
57    0.141879
59    0.141655
60    0.141828
63    0.141766
64    0.141661
67    0.141288
69    0.140967
71    0.140684
72    0.140556
75    0.140624
77    0.141127
79    0.141324
81    0.140736
83    0.140970
85    0.140657
87    0.140633
88    0.141059
91    0.140808
93    0.140537
95    0.140705
97    0.140531
98    0.140647
Name: value, dtype: float64

In [24]:
bad_mem = mem[zscore.abs() > 2]
bad_mem

6    295.0
Name: value, dtype: float64

In [25]:
df.loc[bad_mem.index]

                      time name  value
6  2021-07-13 14:36:55.251  mem  295.0