In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('https://raw.githubusercontent.com/LinkedInLearning/data_cleaning_python_2883183/main/Ch05/05_05/cart.csv',parse_dates=['date'])

In [6]:
df.head()

        date    name  amount  price
0 2021-03-01  carrot     7.0   5.73
1 2021-03-01     egg    12.0   1.70
2 2021-03-01    milk     NaN   3.57
3 2021-03-01  potato     2.0    NaN
4        NaT  tomato     6.0   1.52

In [7]:
df.dtypes

date      datetime64[ns]
name              object
amount           float64
price            float64
dtype: object