In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/LinkedInLearning/data_cleaning_python_2883183/main/Ch05/05_02/points.csv')

In [3]:
df.head()

   x  y     color visible
0  1  1  0xFF0000     yes
1  2  2  0x00FF00      no
2  3  3  0x0000FF     yes

In [4]:
df.dtypes

x           int64
y           int64
color      object
visible    object
dtype: object

color and visible are object meaning a string

In [5]:
def asint(val):
    return int(val, base=0)

df['color'] = df['color'].apply(asint)
df.dtypes

x           int64
y           int64
color       int64
visible    object
dtype: object

In [6]:
bools = {
    'yes': True,
    'no': False,
}
df['visible'] = df['visible'].map(bools)
df.dtypes

x          int64
y          int64
color      int64
visible     bool
dtype: object

In [7]:
df

   x  y     color  visible
0  1  1  16711680     True
1  2  2     65280    False
2  3  3       255     True