In [1]:
import pandas as pd

In [24]:
df = pd.read_csv('/Users/jean110284/Desktop/Everything/MJUPython/survey_results_public.csv', index_col='ResponseId')
schema_df = pd.read_csv('/Users/jean110284/Desktop/Everything/MJUPython/survey_results_schema.csv', index_col='qname')

In [25]:
# to see all rows and columns

pd.set_option('display.max_columns', 85)
pd.set_option('display.max_rows', 85)

In [4]:
df.head(2)

,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,NaN,"Developer, mobile",20 to 99 employees,EUR European Euro,4800.0,Monthly,C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift,Swift,PostgreSQL;SQLite,SQLite,NaN,NaN,Laravel;Symfony,NaN,NaN,NaN,NaN,NaN,PHPStorm;Xcode,Atom;Xcode,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Multiple times per day,Yes,A few times per month or weekly,"Yes, definitely",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,NaN,NaN,NaN,NaN,NaN,NaN,JavaScript;Python,NaN,PostgreSQL,NaN,NaN,NaN,Angular;Flask;Vue.js,NaN,Cordova,NaN,Docker;Git;Yarn,Git,Android Studio;IntelliJ;Notepad++;PyCharm,NaN,Windows,Visit Stack Overflow;Google it,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,"Yes, definitely",No,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN

In [5]:
# average salary
# how many people knows python
# what is a typical salary who answered this survey?
# ConvertedCompYearly = Salary
# check the head of the salaries
# NaN is not a number, it means they skip that question on that survey

df['ConvertedCompYearly'].head(15)

ResponseId
1     62268.0
2         NaN
3         NaN
4         NaN
5         NaN
6         NaN
7         NaN
8         NaN
9         NaN
10    51552.0
11        NaN
12    46482.0
13    77290.0
14        NaN
15        NaN
Name: ConvertedCompYearly, dtype: float64

In [7]:
# median
# this ignores the NaN values

df['ConvertedCompYearly'].median()

56211.0

In [8]:
# median salary broken down by country?
# run median on our entire dataframe
# only the numerical values are computed

df.median()

/var/folders/_c/7_nlp2l53sbcnpz463hcc70w0000gn/T/ipykernel_2407/379449259.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.median()

CompTotal              67000.0
ConvertedCompYearly    56211.0
dtype: float64

In [10]:
# overview of different stats

df.describe()

          CompTotal  ConvertedCompYearly
count  4.718300e+04         4.684400e+04
mean   2.119407e+69         1.184262e+05
std    4.603702e+71         5.272944e+05
min    0.000000e+00         1.000000e+00
25%    1.600000e+04         2.702500e+04
50%    6.700000e+04         5.621100e+04
75%    1.400000e+05         1.000000e+05
max    1.000000e+74         4.524131e+07

In [12]:
# why median? instead of mean?
# mean is affected heavily by outliers
# so median is a better representation
# if you want to run this on a single column
# count is number of none na rows
# get the count of people of answered salary/ConvertedCompYearly

df['ConvertedCompYearly'].count()

46844

In [26]:
df['Trans']

ResponseId
1        No
2        No
3        No
4        No
5        No
         ..
83435    No
83436    No
83437    No
83438    No
83439    No
Name: Trans, Length: 83439, dtype: object

In [43]:
# how many people answer yes/no/prefer not to say/or?
df['Trans'].value_counts()

No                        77275
Prefer not to say          1764
Yes                        1035
Or, in your own words:      604
Name: Trans, dtype: int64

In [42]:
# what social media platform they used the most?
# keep track the most popular sites
# access the social media column of the survey

df['DatabaseHaveWorkedWith']

ResponseId
1                                       PostgreSQL;SQLite
2                                              PostgreSQL
3                                                  SQLite
4                                                     NaN
5                          Elasticsearch;PostgreSQL;Redis
                               ...
83435                                       Oracle;SQLite
83436      Firebase;MariaDB;MySQL;PostgreSQL;Redis;SQLite
83437     DynamoDB;Elasticsearch;MongoDB;PostgreSQL;Redis
83438    Cassandra;Elasticsearch;MongoDB;PostgreSQL;Redis
83439                                   Oracle;PostgreSQL
Name: DatabaseHaveWorkedWith, Length: 83439, dtype: object

In [40]:
schema_df

,qid,question,force_resp,type,selector
qname,,,,,
S0,QID16,"<div><span style=""font-size:19px;""><strong>Hel...",False,DB,TB
MetaInfo,QID12,Browser Meta Info,False,Meta,Browser
S1,QID1,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
MainBranch,QID2,Which of the following options best describes ...,True,MC,SAVR
Employment,QID24,Which of the following best describes your cur...,False,MC,MAVR
Country,QID6,"Where do you live? <span style=""font-weight: b...",True,MC,DL
US_State,QID7,<p>In which state or territory of the USA do y...,False,MC,DL
UK_Country,QID9,In which part of the United Kingdom do you liv...,False,MC,DL
S2,QID190,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
EdLevel,QID25,Which of the following best describes the high...,False,MC,SAVR
Age1stCode,QID149,At what age did you write your first line of c...,False,MC,MAVR
LearnCode,QID276,How did you learn to code? Select all that apply.,False,MC,MAVR
YearsCode,QID32,"Including any education, how many years have y...",False,MC,DL
YearsCodePro,QID34,"NOT including education, how many years have y...",False,MC,DL
DevType,QID31,Which of the following describes your current ...,False,MC,MAVR
OrgSize,QID29,Approximately how many people are employed by ...,False,MC,MAVR
Currency,QID50,Which currency do you use day-to-day? If your ...,True,MC,SB
CompTotal,QID51,What is your current total compensation (salar...,False,TE,SL
CompFreq,QID52,"Is that compensation weekly, monthly, or yearly?",False,MC,MAVR
S3,QID61,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
Language,QID233,"Which <b>programming, scripting, and markup la...",False,Matrix,Likert
Database,QID262,Which <b>database environments </b>have you do...,False,Matrix,Likert
Platform,QID263,Which <b>cloud platforms</b> have you done ext...,False,Matrix,Likert
Webframe,QID264,Which <strong>web frameworks </strong><span st...,False,Matrix,Likert
MiscTech,QID265,Which <b>other frameworks and libraries</b> ha...,False,Matrix,Likert
ToolsTech,QID275,Which <strong>tools</strong> have you done ext...,False,Matrix,Likert
NEWCollabTools,QID274,Which <strong>development environments</strong...,False,Matrix,Likert
OpSys,QID71,What is the primary operating system in which ...,False,MC,SAVR
NEWStuck,QID243,What do you do when you get stuck on a problem...,False,MC,MAVR
S4,QID91,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
NEWSOSites,QID266,Which of the following Stack Overflow sites ha...,False,MC,MAVR
SOVisitFreq,QID100,How frequently would you say you visit Stack O...,False,MC,MAVR
SOAccount,QID101,Do you have a Stack Overflow account?,False,MC,MAVR
SOPartFreq,QID102,How frequently would you say you participate i...,False,MC,MAVR
SOComm,QID106,Do you consider yourself a member of the Stack...,False,MC,MAVR
NEWOtherComms,QID267,Are you a member of any other online developer...,False,MC,MAVR
NEWOtherCommsNames,QID268,Please name up to 5 other online developer com...,False,Matrix,Likert
S5,QID121,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
Age,QID127,What is your age?,False,MC,MAVR
Gender,QID122,"Which of the following describe you, if any? P...",False,MC,MAVR
Trans,QID153,Do you identify as transgender?,False,MC,MAVR
Sexuality,QID136,"Which of the following describe you, if any? P...",False,MC,MAVR
Ethnicity,QID126,"Which of the following describe you, if any? P...",False,MC,MAVR
Accessibility,QID124,"Which of the following describe you, if any? P...",False,MC,MAVR
MentalHealth,QID125,"Which of the following describe you, if any? P...",False,MC,MAVR
S6,QID131,"<span style=""font-size:22px;""><strong>Final Qu...",False,DB,TB
SurveyLength,QID132,How do you feel about the length of the survey...,False,MC,MAVR
SurveyEase,QID133,How easy or difficult was this survey to compl...,False,MC,MAVR

In [44]:
# schema_df tells the exact question that was asked

schema_df.loc['NEWSOSites']

qid                                                      QID266
question      Which of the following Stack Overflow sites ha...
force_resp                                                False
type                                                         MC
selector                                                   MAVR
Name: NEWSOSites, dtype: object

In [45]:
df['NEWSOSites'].value_counts()

Stack Overflow;Stack Exchange                                                                                                54658
Stack Overflow                                                                                                               23473
Stack Overflow;Stack Exchange;Stack Overflow for Teams (private knowledge sharing & collaboration platform for companies)     3099
I have never visited Stack Overflow or the Stack Exchange network                                                              750
Stack Overflow;Stack Overflow for Teams (private knowledge sharing & collaboration platform for companies)                     671
Stack Exchange                                                                                                                 257
Stack Overflow for Teams (private knowledge sharing & collaboration platform for companies)                                    246
Stack Exchange;Stack Overflow for Teams (private knowledge sharing & collaboration platform for companies)                      17
Name: NEWSOSites, dtype: int64

In [47]:
# get by percentage

df['NEWSOSites'].value_counts(normalize=True)

Stack Overflow;Stack Exchange                                                                                                0.657176
Stack Overflow                                                                                                               0.282226
Stack Overflow;Stack Exchange;Stack Overflow for Teams (private knowledge sharing & collaboration platform for companies)    0.037261
I have never visited Stack Overflow or the Stack Exchange network                                                            0.009018
Stack Overflow;Stack Overflow for Teams (private knowledge sharing & collaboration platform for companies)                   0.008068
Stack Exchange                                                                                                               0.003090
Stack Overflow for Teams (private knowledge sharing & collaboration platform for companies)                                  0.002958
Stack Exchange;Stack Overflow for Teams (private knowledge sharing & collaboration platform for companies)                   0.000204
Name: NEWSOSites, dtype: float64

In [49]:
# for group by we need to
# split the object, apply the function, combine the result based on pandas documentation
# display the value counts for each country
# case sensitive

df['Country']

ResponseId
1                                                 Slovakia
2                                              Netherlands
3                                       Russian Federation
4                                                  Austria
5        United Kingdom of Great Britain and Northern I...
                               ...
83435                             United States of America
83436                                                Benin
83437                             United States of America
83438                                               Canada
83439                                               Brazil
Name: Country, Length: 83439, dtype: object

In [56]:
# get the country count

df['Country'].value_counts()

United States of America                                15288
India                                                   10511
Germany                                                  5625
United Kingdom of Great Britain and Northern Ireland     4475
Canada                                                   3012
                                                        ...
Saint Kitts and Nevis                                       1
Dominica                                                    1
Saint Vincent and the Grenadines                            1
Tuvalu                                                      1
Papua New Guinea                                            1
Name: Country, Length: 181, dtype: int64

In [57]:
# use group by country
# this is the dataframe group by object
# what can we do with this?
# set this variable so it can reuse and not type over and over


df.groupby(['Country'])

In [58]:
country_grp = df.groupby(['Country'])

In [59]:
country_grp

In [60]:
country_grp.get_group('United States of America')

,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
6,I am a student who is learning to code,"Student, part-time",United States of America,Georgia,NaN,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,C;C#;C++;HTML/CSS;Java;JavaScript;Node.js;Powe...,C#;C++;Go;HTML/CSS;Java;JavaScript;Node.js;Obj...,MySQL;PostgreSQL;SQLite,Elasticsearch;Firebase;IBM DB2;MariaDB;Microso...,NaN,NaN,Express;Flask;jQuery;React.js,Express;Flask;jQuery;React.js,Keras;NumPy;Pandas;TensorFlow;Torch/PyTorch,Keras;NumPy;Pandas;Qt;React Native;TensorFlow;...,Git,Docker;Git;Unity 3D;Unreal Engine,IPython/Jupyter;Notepad++;PyCharm;Sublime Text...,Android Studio;IPython/Jupyter;Vim;Visual Stud...,Windows,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,I have never participated in Q&A on Stack Over...,"Yes, somewhat",No,18-24 years old,Prefer not to say,No,Straight / Heterosexual,Prefer not to say,None of the above,I have a concentration and/or memory disorder ...,Too long,Neither easy nor difficult,NaN
7,I code primarily as a hobby,I prefer not to say,United States of America,New Hampshire,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",3,NaN,NaN,NaN,NaN,NaN,NaN,HTML/CSS;JavaScript,HTML/CSS;JavaScript;PHP,NaN,NaN,NaN,NaN,jQuery,jQuery,NaN,NaN,NaN,NaN,NaN,NaN,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Daily or almost daily,Yes,A few times per week,"Yes, somewhat",No,Prefer not to say,Prefer not to say,No,NaN,I don't know,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,NaN
16,I am a student who is learning to code,"Student, full-time",United States of America,Missouri,NaN,"Secondary school (e.g. American high school, G...",5 - 10 years,Other (please specify):,7,NaN,NaN,NaN,NaN,NaN,NaN,Bash/Shell;Python,Bash/Shell;Python,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Git,Git,Emacs;Neovim;Vim,Neovim;Vim,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Less than once per month or monthly,Neutral,No,Under 18 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Too long,Easy,NaN
37,I am a developer by profession,Employed full-time,United States of America,District of Columbia,NaN,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",8,Less than 1 year,"Developer, embedded applications or devices",20 to 99 employees,USD\tUnited States dollar,103000.0,Yearly,Assembly;C;Java;Kotlin;Rust,Assembly;Kotlin;Rust;SQL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Docker;Git,Git,IntelliJ;PyCharm;Webstorm,Android Studio;IntelliJ;PyCharm;Sublime Text;W...,Linux-based,Visit Stack Overflow;Google it;Do other work a...,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,A few times per week,"Yes, somewhat",Yes,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,Prefer not to say,Too short,Easy,103000.0
38,I am a developer by profession,Employed full-time,United States of America,Massachusetts,NaN,Some college/university study without earning ...,18 - 24 years,"Other online resources (ex: videos, blogs, etc)",20,15,"Developer, back-end","1,000 to 4,999 employees",USD\tUnited States dollar,300000.0,Yearly,Go,Go;Rust,NaN,NaN,AWS;Google Cloud Platform;Microsoft Azure,NaN,NaN,NaN,NaN,NaN,Docker;Git;Terraform,Git;Terraform,Vim;Visual Studio Code,Vim;Visual Studio Code,MacOS,Google it;Do other work and come back later;Me...,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,Daily or almost daily,"Yes, definitely",No,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,300000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83428,I am a developer by profession,Employed full-time,United States of America,Pennsylvania,NaN,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",13,2,"Developer, front-end;Developer, desktop or ent...","1,000 to 4,999 employees",USD\tUnited States dollar,86000.0,Weekly,Java;Python,C#;Java;Python,NaN,NaN,NaN,NaN,Angular;Flask,Angular,NaN,NaN,Ansible;Git;Terraform;Unity 3D,Ansible;Git;Terraform;Unity 3D,Eclipse;IntelliJ;NetBeans;Sublime Text;Visual ...,IntelliJ;Sublime Text;Visual Studio Code,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,A few times per month or weekly,"Yes, somewhat",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,"I have an anxiety disorder;Or, in your own words:",Too short,Easy,4300000.0
83430,I code primarily as a hobby,"Not employed, but looking for work",United States of America,Washington,NaN,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,"Other online resources (ex: videos, blogs, etc)",6,NaN,Other (please specify):;Student,NaN,NaN,NaN,NaN,HTML/CSS;PHP;PowerShell;Python;SQL;VBA,C#;Go;HTML/CSS;Java;JavaScript;PHP;Python;SQL;VBA,MongoDB;MySQL;PostgreSQL,MariaDB;Microsoft SQL Server;MongoDB;MySQL;Pos...,Heroku,AWS;Heroku;IBM Cloud or Watson;Microsoft Azure...,Django;Flask;jQuery,Angular.js;ASP.NET;ASP.NET Core ;Django;FastAP...,NumPy;Pandas,.NET Framework;.NET Core / .NET 5;NumPy;Pandas,Git,Docker;Git;Xamarin,Atom;Notepad++;Sublime Text;Visual Studio Code,Atom;Notepad++;Sublime Text;Visual Studio Code,Windows,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,A few times per month or weekly,Not sure/can't remember,NaN,"Yes, somewhat",No,25-34 years old,"Man;Or, in your own words:",Yes,Queer,White or of European descent,I am unable to / find it difficult to walk or ...,I have an anxiety disorder,Appropriate in length,Neither easy nor difficult,NaN
83431,I am a developer by profession,Employed full-time,United States of America,Illinois,NaN,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",23,21,"Developer, front-end;Developer, full-stack;Dev...",10 to 19 employees,USD\tUnited States dollar,125000.0,Yearly,APL;Clojure;LISP;Python;Ruby;SQL;TypeScript,APL;Clojure;Haskell;LISP;R,MongoDB;MySQL;PostgreSQL;Redis,PostgreSQL,AWS;DigitalOcean;Google Cloud Platform;Heroku,AWS;DigitalOcean;Google Cloud Platform,Django;React.js;Ruby on Rails,NaN,NaN,NaN,Docker;Git,Docker;Git;Kubernetes;Unity 3D,Emacs;Vim,Emacs,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,A few times per week,No,NaN,"No, not really",No,45-54 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,125000.0
83435,I am a developer by profession,Employed full-time,United States of America,Texas,NaN,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",6,5,"Developer, back-end",20 to 99 employees,USD\tUnited States dollar,160500.0,Yearly,Clojure;Kotlin;SQL,Clojure,Oracle;SQLite,SQLite,AWS,AWS,NaN,NaN,NaN,NaN,Docker;Git,Git;Kubernetes,IntelliJ;Sublime Text;Vim;Visual Studio Code,Sublime Text;Vim,MacOS,Call a coworker or friend;Google it,Stack Overflow;Stack Exchange,A few times per week,No,NaN,"No, not at all",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,160500.0
83437,I am a developer by profession,Employed full-time,United States of America,New Jersey,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,School,10,4,Data scientist or machine learning specialist;...,"10,000 or more employees",USD\tUnited States dollar,1800.0,Weekly,Groovy;Java;Python,Java;Python,DynamoDB;Elasticsearch;MongoDB;PostgreSQL;Redis,DynamoDB;Redis,AWS;Google Cloud Platform,AWS,FastAPI;Flask,FastAPI;Flask,Hadoop;Keras;NumPy;Pandas,Apache Spark;Hadoop;Keras;NumPy;Pandas;TensorFlow,Ansible;Docker;Git;Terraform,Docker;Git;Kubernetes;Terraform,Android Studio;Eclipse;IntelliJ;IPython/Jupyte...,IntelliJ;IPython/Jupyter;Notepad++;Vim,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,A few times per week,Yes,I have never participated in Q&A on Stack Over...,"No, not really",No,25-34 years old,Man,No,NaN,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,90000.0

In [61]:
country_grp.get_group('India')

,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
9,I am a developer by profession,Employed part-time,India,NaN,NaN,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,Coding Bootcamp,6,4,"Developer, front-end","10,000 or more employees",INR\tIndian rupee,NaN,Monthly,HTML/CSS;JavaScript,HTML/CSS;JavaScript,PostgreSQL,PostgreSQL,AWS,NaN,Django;FastAPI,Django;FastAPI,NaN,NaN,Docker;Git,Docker;Git;Kubernetes,PyCharm;Sublime Text,PyCharm;Sublime Text,Windows,Visit Stack Overflow;Google it;Panic,Stack Overflow;Stack Exchange,A few times per week,Yes,Less than once per month or monthly,"Yes, definitely",No,25-34 years old,Man,No,NaN,South Asian,NaN,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,NaN
23,I am a student who is learning to code,"Student, full-time",India,NaN,NaN,Some college/university study without earning ...,5 - 10 years,School;Friend or family member,7,NaN,NaN,NaN,NaN,NaN,NaN,C#;HTML/CSS;Python,Java;Kotlin;Python,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unity 3D,NaN,Android Studio,Android Studio,Windows,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Multiple times per day,"Yes, definitely",No,Under 18 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
40,I am a student who is learning to code,"Student, part-time",India,NaN,NaN,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,School,3,NaN,NaN,NaN,NaN,NaN,NaN,C;C#;C++;HTML/CSS;JavaScript;Node.js;Python,NaN,MongoDB,NaN,Heroku,NaN,Express;jQuery;React.js,NaN,Keras;NumPy;TensorFlow,NaN,Flow;Unity 3D,NaN,IPython/Jupyter;Sublime Text;Visual Studio Code,NaN,Linux-based,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,A few times per month or weekly,"Yes, somewhat",Yes,18-24 years old,Woman,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,NaN
50,I am a student who is learning to code,"Student, full-time",India,NaN,NaN,Some college/university study without earning ...,11 - 17 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C;HTML/CSS;Java;JavaScript;Kotlin;Node.js;Pyth...,Dart;Elixir;Go;SQL,NaN,NaN,Heroku,NaN,Django;Express;React.js,Angular,NaN,NaN,Git;Yarn,NaN,Android Studio;Atom;Notepad++;Sublime Text;Vis...,NaN,Windows,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow,Multiple times per day,Yes,A few times per week,"Yes, definitely",No,18-24 years old,Man,No,Straight / Heterosexual,South Asian,None of the above,None of the above,Appropriate in length,Easy,NaN
53,I am a developer by profession,Employed full-time,India,NaN,NaN,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",5,4,"Developer, full-stack","1,000 to 4,999 employees",INR\tIndian rupee,NaN,NaN,HTML/CSS;JavaScript;Node.js;Python;TypeScript,HTML/CSS;JavaScript;Node.js;PowerShell;Python;...,Firebase;MongoDB;Redis,DynamoDB;Elasticsearch;Firebase;MongoDB;Redis,AWS;DigitalOcean;Heroku;Microsoft Azure;Oracle...,AWS;DigitalOcean;Google Cloud Platform;Heroku;...,Angular;Express;React.js,Angular;Express;React.js,Cordova,Cordova,Docker;Git;Kubernetes,Docker;Git;Kubernetes,Visual Studio Code;Xcode,Visual Studio Code;Xcode,MacOS,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow,Multiple times per day,Yes,Less than once per month or monthly,"Yes, definitely",No,25-34 years old,Man,No,Prefer not to say,I don't know,None of the above,None of the above,Too long,Neither easy nor difficult,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83400,I am a developer by profession,Employed full-time,India,NaN,NaN,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,6,"Developer, front-end",20 to 99 employees,INR\tIndian rupee,2000000.0,Yearly,HTML/CSS;JavaScript;TypeScript,JavaScript;Node.js,NaN,NaN,AWS;Microsoft Azure,AWS,Angular;React.js,Gatsby;React.js;Svelte;Vue.js,React Native,NaN,Git;Yarn,Git;Yarn,Vim;Visual Studio Code,Vim;Visual Studio Code;Webstorm,MacOS,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,A few times per week,"Yes, definitely",No,25-34 years old,Man,No,Straight / Heterosexual,South Asian,None of the above,None of the above,Too short,Easy,27923.0
83407,I am a student who is learning to code,"Student, full-time",India,NaN,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",2,NaN,NaN,NaN,NaN,NaN,NaN,C;C++;Python,C;C#;C++;HTML/CSS;JavaScript;Python;Rust;SQL;T...,MySQL,MySQL;Oracle,NaN,NaN,NaN,NaN,NumPy,.NET Framework;Flutter;NumPy;React Native;Tens...,Git,Deno;Docker;Git,PyCharm;Visual Studio Code,NaN,Windows,Visit Stack Overflow;Google it;Do other work a...,Stack Overflow;Stack Exchange,A few times per month or weekly,Yes,I have never participated in Q&A on Stack Over...,"No, not really",Yes,18-24 years old,Man,No,Straight / Heterosexual,South Asian,None of the above,None of the above,Appropriate in length,Easy,NaN
83411,I am a student who is learning to code,"Student, part-time",India,NaN,NaN,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,"Other online resources (ex: videos, blogs, etc)",1,NaN,NaN,NaN,NaN,NaN,NaN,C++;JavaScript;Python;TypeScript,C++;JavaScript;Python;TypeScript,MongoDB;PostgreSQL;SQLite,MongoDB;PostgreSQL;SQLite,Heroku,Heroku,Express;React.js,Express;React.js,Keras;NumPy;TensorFlow,Keras;NumPy;TensorFlow,Docker;Git;Unreal Engine,Docker;Git;Unreal Engine,Android Studio;Atom;Eclipse;IntelliJ;IPython/J...,IPython/Jupyter;PyCharm;Vim;Visual Studio;Visu...,Windows,Google it;Panic,Stack Overflow;Stack Exchange,Multiple times per day,Yes,I have never participated in Q&A on Stack Over...,"Yes, definitely",No,18-24 years old,Man,No,Straight / Heterosexual,I don't know,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,NaN
83412,I am a developer by profession,Employed full-time,India,NaN,NaN,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",8,5,"Developer, back-end",100 to 499 employees,INR\tIndian rupee,3500000.0,Yearly,Java;JavaScript;SQL,Go;Java;Kotlin;Node.js;SQL,MySQL,Cassandra;Elasticsearch;Redis,AWS,AWS;Google Cloud Platform,Spring,Spring,NaN,NaN,Docker;Git,Ansible;Docker;Git;Kubernetes;Terraform,Eclipse;Sublime Text;Visual Studio Code,Eclipse;IntelliJ;Sublime Text,MacOS,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange;Stack Overflow f...,Daily or almost daily,Yes,Less than once per month or monthly,"Yes, somewhat",No,25-34 years old,Man,No,Straight / Heterosexual,South Asian,None of the above,None of the above,Appropriate in length,Easy,48866.0
83418,I am a developer by profession,"Student, full-time",India,NaN,NaN,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,School;Friend or family member;Online Courses ...,3,NaN,NaN,NaN,NaN,NaN,NaN,Bash/Shell;C;C++;Java;SQL,Bash/Shell;C++;SQL,PostgreSQL;SQLite,PostgreSQL,AWS,Google Cloud Platform;Microsoft Azure,Spring,jQuery;Spring,NaN,NaN,Docker;Git,Docker;Git,IntelliJ;Vim;Visual Studio Code,IntelliJ;Vim;Visual Studio Code,Linux-based,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange;Stack Overflow f...,Multiple times per day,Yes,Daily or almost daily,"Yes, definitely",Yes,18-24 years old,Man,No,NaN,South Asian,NaN,NaN,Appropriate in length,Neither easy nor difficult,NaN

In [63]:
# this is similar to creating a filter
filt = df['Country'] == 'United States of America'
df.loc[filt]

,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
6,I am a student who is learning to code,"Student, part-time",United States of America,Georgia,NaN,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,C;C#;C++;HTML/CSS;Java;JavaScript;Node.js;Powe...,C#;C++;Go;HTML/CSS;Java;JavaScript;Node.js;Obj...,MySQL;PostgreSQL;SQLite,Elasticsearch;Firebase;IBM DB2;MariaDB;Microso...,NaN,NaN,Express;Flask;jQuery;React.js,Express;Flask;jQuery;React.js,Keras;NumPy;Pandas;TensorFlow;Torch/PyTorch,Keras;NumPy;Pandas;Qt;React Native;TensorFlow;...,Git,Docker;Git;Unity 3D;Unreal Engine,IPython/Jupyter;Notepad++;PyCharm;Sublime Text...,Android Studio;IPython/Jupyter;Vim;Visual Stud...,Windows,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,I have never participated in Q&A on Stack Over...,"Yes, somewhat",No,18-24 years old,Prefer not to say,No,Straight / Heterosexual,Prefer not to say,None of the above,I have a concentration and/or memory disorder ...,Too long,Neither easy nor difficult,NaN
7,I code primarily as a hobby,I prefer not to say,United States of America,New Hampshire,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",3,NaN,NaN,NaN,NaN,NaN,NaN,HTML/CSS;JavaScript,HTML/CSS;JavaScript;PHP,NaN,NaN,NaN,NaN,jQuery,jQuery,NaN,NaN,NaN,NaN,NaN,NaN,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Daily or almost daily,Yes,A few times per week,"Yes, somewhat",No,Prefer not to say,Prefer not to say,No,NaN,I don't know,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,NaN
16,I am a student who is learning to code,"Student, full-time",United States of America,Missouri,NaN,"Secondary school (e.g. American high school, G...",5 - 10 years,Other (please specify):,7,NaN,NaN,NaN,NaN,NaN,NaN,Bash/Shell;Python,Bash/Shell;Python,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Git,Git,Emacs;Neovim;Vim,Neovim;Vim,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Less than once per month or monthly,Neutral,No,Under 18 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Too long,Easy,NaN
37,I am a developer by profession,Employed full-time,United States of America,District of Columbia,NaN,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",8,Less than 1 year,"Developer, embedded applications or devices",20 to 99 employees,USD\tUnited States dollar,103000.0,Yearly,Assembly;C;Java;Kotlin;Rust,Assembly;Kotlin;Rust;SQL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Docker;Git,Git,IntelliJ;PyCharm;Webstorm,Android Studio;IntelliJ;PyCharm;Sublime Text;W...,Linux-based,Visit Stack Overflow;Google it;Do other work a...,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,A few times per week,"Yes, somewhat",Yes,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,Prefer not to say,Too short,Easy,103000.0
38,I am a developer by profession,Employed full-time,United States of America,Massachusetts,NaN,Some college/university study without earning ...,18 - 24 years,"Other online resources (ex: videos, blogs, etc)",20,15,"Developer, back-end","1,000 to 4,999 employees",USD\tUnited States dollar,300000.0,Yearly,Go,Go;Rust,NaN,NaN,AWS;Google Cloud Platform;Microsoft Azure,NaN,NaN,NaN,NaN,NaN,Docker;Git;Terraform,Git;Terraform,Vim;Visual Studio Code,Vim;Visual Studio Code,MacOS,Google it;Do other work and come back later;Me...,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,Daily or almost daily,"Yes, definitely",No,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,300000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83428,I am a developer by profession,Employed full-time,United States of America,Pennsylvania,NaN,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",13,2,"Developer, front-end;Developer, desktop or ent...","1,000 to 4,999 employees",USD\tUnited States dollar,86000.0,Weekly,Java;Python,C#;Java;Python,NaN,NaN,NaN,NaN,Angular;Flask,Angular,NaN,NaN,Ansible;Git;Terraform;Unity 3D,Ansible;Git;Terraform;Unity 3D,Eclipse;IntelliJ;NetBeans;Sublime Text;Visual ...,IntelliJ;Sublime Text;Visual Studio Code,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,A few times per month or weekly,"Yes, somewhat",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,"I have an anxiety disorder;Or, in your own words:",Too short,Easy,4300000.0
83430,I code primarily as a hobby,"Not employed, but looking for work",United States of America,Washington,NaN,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,"Other online resources (ex: videos, blogs, etc)",6,NaN,Other (please specify):;Student,NaN,NaN,NaN,NaN,HTML/CSS;PHP;PowerShell;Python;SQL;VBA,C#;Go;HTML/CSS;Java;JavaScript;PHP;Python;SQL;VBA,MongoDB;MySQL;PostgreSQL,MariaDB;Microsoft SQL Server;MongoDB;MySQL;Pos...,Heroku,AWS;Heroku;IBM Cloud or Watson;Microsoft Azure...,Django;Flask;jQuery,Angular.js;ASP.NET;ASP.NET Core ;Django;FastAP...,NumPy;Pandas,.NET Framework;.NET Core / .NET 5;NumPy;Pandas,Git,Docker;Git;Xamarin,Atom;Notepad++;Sublime Text;Visual Studio Code,Atom;Notepad++;Sublime Text;Visual Studio Code,Windows,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,A few times per month or weekly,Not sure/can't remember,NaN,"Yes, somewhat",No,25-34 years old,"Man;Or, in your own words:",Yes,Queer,White or of European descent,I am unable to / find it difficult to walk or ...,I have an anxiety disorder,Appropriate in length,Neither easy nor difficult,NaN
83431,I am a developer by profession,Employed full-time,United States of America,Illinois,NaN,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",23,21,"Developer, front-end;Developer, full-stack;Dev...",10 to 19 employees,USD\tUnited States dollar,125000.0,Yearly,APL;Clojure;LISP;Python;Ruby;SQL;TypeScript,APL;Clojure;Haskell;LISP;R,MongoDB;MySQL;PostgreSQL;Redis,PostgreSQL,AWS;DigitalOcean;Google Cloud Platform;Heroku,AWS;DigitalOcean;Google Cloud Platform,Django;React.js;Ruby on Rails,NaN,NaN,NaN,Docker;Git,Docker;Git;Kubernetes;Unity 3D,Emacs;Vim,Emacs,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,A few times per week,No,NaN,"No, not really",No,45-54 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,125000.0
83435,I am a developer by profession,Employed full-time,United States of America,Texas,NaN,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",6,5,"Developer, back-end",20 to 99 employees,USD\tUnited States dollar,160500.0,Yearly,Clojure;Kotlin;SQL,Clojure,Oracle;SQLite,SQLite,AWS,AWS,NaN,NaN,NaN,NaN,Docker;Git,Git;Kubernetes,IntelliJ;Sublime Text;Vim;Visual Studio Code,Sublime Text;Vim,MacOS,Call a coworker or friend;Google it,Stack Overflow;Stack Exchange,A few times per week,No,NaN,"No, not at all",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,160500.0
83437,I am a developer by profession,Employed full-time,United States of America,New Jersey,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,School,10,4,Data scientist or machine learning specialist;...,"10,000 or more employees",USD\tUnited States dollar,1800.0,Weekly,Groovy;Java;Python,Java;Python,DynamoDB;Elasticsearch;MongoDB;PostgreSQL;Redis,DynamoDB;Redis,AWS;Google Cloud Platform,AWS,FastAPI;Flask,FastAPI;Flask,Hadoop;Keras;NumPy;Pandas,Apache Spark;Hadoop;Keras;NumPy;Pandas;TensorFlow,Ansible;Docker;Git;Terraform,Docker;Git;Kubernetes;Terraform,Android Studio;Eclipse;IntelliJ;IPython/Jupyte...,IntelliJ;IPython/Jupyter;Notepad++;Vim,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,A few times per week,Yes,I have never participated in Q&A on Stack Over...,"No, not really",No,25-34 years old,Man,No,NaN,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,90000.0

In [64]:
# we want to see the popular media sites broken down by country

In [70]:
# this is similar to creating a filter
# what are the count of languagewanttoworkwith for usa?

filt = df['Country'] == 'United States of America'
df.loc[filt]['LanguageWantToWorkWith'].value_counts()

Rust                                                   195
Python                                                 183
C#                                                     109
HTML/CSS;JavaScript;Node.js;TypeScript                 105
Clojure                                                 94
                                                      ...
Bash/Shell;C#;Kotlin;Node.js;PowerShell;Python           1
C++;Go;Java;Python;Rust;Scala;SQL                        1
Bash/Shell;Elixir;HTML/CSS;JavaScript;Ruby;Rust;SQL      1
Groovy;Java;JavaScript;Node.js;SQL;TypeScript            1
APL;Clojure;Haskell;LISP;R                               1
Name: LanguageWantToWorkWith, Length: 7619, dtype: int64

In [73]:
# most popular media sites per country
# this is returning a series

country_grp['LanguageWantToWorkWith'].value_counts()

Country      LanguageWantToWorkWith
Afghanistan  Go;JavaScript;Python                                                                                                                                                                                                                                 2
             Rust                                                                                                                                                                                                                                                 2
             APL                                                                                                                                                                                                                                                  1
             APL;Assembly;Bash/Shell;C;C#;C++;Clojure;COBOL;Crystal;Dart;Delphi;Elixir;Erlang;F#;Go;Groovy;Haskell;HTML/CSS;Java;JavaScript;Julia;Kotlin;LISP;Matlab;Node.js;Objective-C;Perl;PHP;PowerShell;Python;R;Ruby;Rust;Scala;SQL;Swift;TypeScript;VBA    1
             APL;Assembly;Bash/Shell;C;C#;Clojure;Delphi;Elixir;Erlang;Go;HTML/CSS;Julia;LISP;PHP;Ruby;Rust;SQL;Swift                                                                                                                                             1
                                                                                                                                                                                                                                                                 ..
Zimbabwe     HTML/CSS;JavaScript;Python                                                                                                                                                                                                                           1
             Java;TypeScript                                                                                                                                                                                                                                      1
             Matlab;PHP;Python;SQL                                                                                                                                                                                                                                1
             Rust                                                                                                                                                                                                                                                 1
             Rust;SQL;TypeScript                                                                                                                                                                                                                                  1
Name: LanguageWantToWorkWith, Length: 52527, dtype: int64

In [74]:
country_grp['LanguageWantToWorkWith'].value_counts().head(50)

Country      LanguageWantToWorkWith
Afghanistan  Go;JavaScript;Python                                                                                                                                                                                                                                 2
             Rust                                                                                                                                                                                                                                                 2
             APL                                                                                                                                                                                                                                                  1
             APL;Assembly;Bash/Shell;C;C#;C++;Clojure;COBOL;Crystal;Dart;Delphi;Elixir;Erlang;F#;Go;Groovy;Haskell;HTML/CSS;Java;JavaScript;Julia;Kotlin;LISP;Matlab;Node.js;Objective-C;Perl;PHP;PowerShell;Python;R;Ruby;Rust;Scala;SQL;Swift;TypeScript;VBA    1
             APL;Assembly;Bash/Shell;C;C#;Clojure;Delphi;Elixir;Erlang;Go;HTML/CSS;Julia;LISP;PHP;Ruby;Rust;SQL;Swift                                                                                                                                             1
             APL;COBOL;VBA                                                                                                                                                                                                                                        1
             Assembly;Bash/Shell;C#;C++;Clojure;COBOL;Dart;Delphi;Elixir;Erlang;F#;Go;Groovy;Haskell;HTML/CSS;Java;JavaScript;Julia;LISP;Matlab;Node.js;Objective-C;PHP;Ruby;Swift;TypeScript;VBA                                                                 1
             Assembly;Bash/Shell;C;C++;Node.js;Python                                                                                                                                                                                                             1
             Assembly;Bash/Shell;Clojure;Java;JavaScript;Objective-C;PHP                                                                                                                                                                                          1
             Assembly;Dart;Node.js;PowerShell;Python;Ruby;Swift                                                                                                                                                                                                   1
             Bash/Shell;C++                                                                                                                                                                                                                                       1
             Bash/Shell;C;C#;C++;HTML/CSS;JavaScript;Node.js;Python                                                                                                                                                                                               1
             C#                                                                                                                                                                                                                                                   1
             C#;C++;Elixir;F#;HTML/CSS;JavaScript;Julia;Kotlin;Python;TypeScript                                                                                                                                                                                  1
             C#;C++;Java                                                                                                                                                                                                                                          1
             C#;C++;Python                                                                                                                                                                                                                                        1
             C#;Dart;HTML/CSS;JavaScript;PHP;Python;SQL                                                                                                                                                                                                           1
             C#;HTML/CSS;Java;JavaScript;SQL;TypeScript                                                                                                                                                                                                           1
             C#;HTML/CSS;JavaScript;Node.js;PowerShell;Python;TypeScript                                                                                                                                                                                          1
             C++;Dart;Java;PHP;SQL                                                                                                                                                                                                                                1
             C++;Java;Node.js;Python                                                                                                                                                                                                                              1
             C;C#;Dart;HTML/CSS;JavaScript;SQL;TypeScript                                                                                                                                                                                                         1
             C;C++;HTML/CSS;Java;JavaScript                                                                                                                                                                                                                       1
             C;C++;PHP                                                                                                                                                                                                                                            1
             C;C++;SQL                                                                                                                                                                                                                                            1
             C;Java;JavaScript;Python                                                                                                                                                                                                                             1
             Clojure;Crystal;Dart;Matlab;Node.js;Python;R                                                                                                                                                                                                         1
             Dart;HTML/CSS;JavaScript;Node.js;Python;Rust;Swift                                                                                                                                                                                                   1
             Dart;Java;JavaScript;Kotlin;Node.js;PHP;Python;SQL                                                                                                                                                                                                   1
             Dart;JavaScript;Kotlin;Node.js;Python                                                                                                                                                                                                                1
             Go;Matlab;Python;R                                                                                                                                                                                                                                   1
             Go;Python;TypeScript                                                                                                                                                                                                                                 1
             HTML/CSS;Java;PHP;Python;R;SQL                                                                                                                                                                                                                       1
             HTML/CSS;JavaScript                                                                                                                                                                                                                                  1
             HTML/CSS;JavaScript;Kotlin;Node.js;Objective-C;PHP;Rust;SQL;Swift;TypeScript                                                                                                                                                                         1
             HTML/CSS;JavaScript;Node.js;PHP;Python;SQL;TypeScript                                                                                                                                                                                                1
             HTML/CSS;JavaScript;Node.js;PHP;SQL                                                                                                                                                                                                                  1
             HTML/CSS;JavaScript;Node.js;Python;SQL;TypeScript                                                                                                                                                                                                    1
             Java;JavaScript;Julia;Kotlin;LISP;Matlab                                                                                                                                                                                                             1
             Java;JavaScript;PHP;TypeScript                                                                                                                                                                                                                       1
             Java;JavaScript;Python;SQL                                                                                                                                                                                                                           1
             JavaScript;TypeScript                                                                                                                                                                                                                                1
             Julia;Python                                                                                                                                                                                                                                         1
             LISP                                                                                                                                                                                                                                                 1
             Python;Swift                                                                                                                                                                                                                                         1
             Python;TypeScript                                                                                                                                                                                                                                    1
             R                                                                                                                                                                                                                                                    1
Albania      APL                                                                                                                                                                                                                                                  2
             HTML/CSS;JavaScript                                                                                                                                                                                                                                  2
             HTML/CSS;JavaScript;Python                                                                                                                                                                                                                           2
Name: LanguageWantToWorkWith, dtype: int64

In [77]:
# if you wanted to see LanguageWantToWorkWith most for india?

country_grp['LanguageWantToWorkWith'].value_counts().loc['India']

LanguageWantToWorkWith
Python                                    273
HTML/CSS;JavaScript;Node.js;TypeScript    115
Java                                      107
Go                                         95
Java;Python                                63
                                         ...
Rust;SQL;TypeScript                         1
Rust;Swift                                  1
Rust;Swift;TypeScript                       1
SQL;Swift                                   1
TypeScript;VBA                              1
Name: LanguageWantToWorkWith, Length: 4789, dtype: int64

In [78]:

country_grp['LanguageWantToWorkWith'].value_counts(normalize=True).loc['India']

LanguageWantToWorkWith
Python                                    0.028553
HTML/CSS;JavaScript;Node.js;TypeScript    0.012028
Java                                      0.011191
Go                                        0.009936
Java;Python                               0.006589
                                            ...
Rust;SQL;TypeScript                       0.000105
Rust;Swift                                0.000105
Rust;Swift;TypeScript                     0.000105
SQL;Swift                                 0.000105
TypeScript;VBA                            0.000105
Name: LanguageWantToWorkWith, Length: 4789, dtype: float64

In [81]:
# check the median salary per country
country_grp['ConvertedCompYearly'].median()

Country
Afghanistan                              9792.0
Albania                                 15900.0
Algeria                                  9875.0
Andorra                                 94045.5
Angola                                   9750.0
                                         ...
Venezuela, Bolivarian Republic of...    12000.0
Viet Nam                                12678.0
Yemen                                    3954.0
Zambia                                   9816.0
Zimbabwe                                 7200.0
Name: ConvertedCompYearly, Length: 181, dtype: float64

In [82]:
# check the median salary for USA

filt = df['Country'] == 'United States of America'
df.loc[filt]['ConvertedCompYearly'].median()

125000.0

In [84]:
# same result
country_grp['ConvertedCompYearly'].median().loc['United States of America']

125000.0

In [85]:
# what if we want the median and mean together per country?

country_grp['ConvertedCompYearly'].agg(['median','mean'])

                                       median          mean
Country
Afghanistan                            9792.0  2.794748e+06
Albania                               15900.0  4.499814e+04
Algeria                                9875.0  1.446114e+04
Andorra                               94045.5  8.928200e+04
Angola                                 9750.0  2.155680e+04
...                                       ...           ...
Venezuela, Bolivarian Republic of...  12000.0  2.246505e+04
Viet Nam                              12678.0  1.995289e+04
Yemen                                  3954.0  5.628667e+03
Zambia                                 9816.0  1.991491e+04
Zimbabwe                               7200.0  1.141477e+04

[181 rows x 2 columns]

In [87]:
# median and mean salary for Canada
country_grp['ConvertedCompYearly'].agg(['median','mean']).loc['Canada']

median     75631.000000
mean      135732.563006
Name: Canada, dtype: float64

In [88]:
# how many people know python?
# filter the people from India

filt = df['Country'] == 'India'
df.loc[filt]

,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
9,I am a developer by profession,Employed part-time,India,NaN,NaN,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,Coding Bootcamp,6,4,"Developer, front-end","10,000 or more employees",INR\tIndian rupee,NaN,Monthly,HTML/CSS;JavaScript,HTML/CSS;JavaScript,PostgreSQL,PostgreSQL,AWS,NaN,Django;FastAPI,Django;FastAPI,NaN,NaN,Docker;Git,Docker;Git;Kubernetes,PyCharm;Sublime Text,PyCharm;Sublime Text,Windows,Visit Stack Overflow;Google it;Panic,Stack Overflow;Stack Exchange,A few times per week,Yes,Less than once per month or monthly,"Yes, definitely",No,25-34 years old,Man,No,NaN,South Asian,NaN,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,NaN
23,I am a student who is learning to code,"Student, full-time",India,NaN,NaN,Some college/university study without earning ...,5 - 10 years,School;Friend or family member,7,NaN,NaN,NaN,NaN,NaN,NaN,C#;HTML/CSS;Python,Java;Kotlin;Python,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unity 3D,NaN,Android Studio,Android Studio,Windows,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Multiple times per day,"Yes, definitely",No,Under 18 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
40,I am a student who is learning to code,"Student, part-time",India,NaN,NaN,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,School,3,NaN,NaN,NaN,NaN,NaN,NaN,C;C#;C++;HTML/CSS;JavaScript;Node.js;Python,NaN,MongoDB,NaN,Heroku,NaN,Express;jQuery;React.js,NaN,Keras;NumPy;TensorFlow,NaN,Flow;Unity 3D,NaN,IPython/Jupyter;Sublime Text;Visual Studio Code,NaN,Linux-based,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,A few times per month or weekly,"Yes, somewhat",Yes,18-24 years old,Woman,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,NaN
50,I am a student who is learning to code,"Student, full-time",India,NaN,NaN,Some college/university study without earning ...,11 - 17 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C;HTML/CSS;Java;JavaScript;Kotlin;Node.js;Pyth...,Dart;Elixir;Go;SQL,NaN,NaN,Heroku,NaN,Django;Express;React.js,Angular,NaN,NaN,Git;Yarn,NaN,Android Studio;Atom;Notepad++;Sublime Text;Vis...,NaN,Windows,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow,Multiple times per day,Yes,A few times per week,"Yes, definitely",No,18-24 years old,Man,No,Straight / Heterosexual,South Asian,None of the above,None of the above,Appropriate in length,Easy,NaN
53,I am a developer by profession,Employed full-time,India,NaN,NaN,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",5,4,"Developer, full-stack","1,000 to 4,999 employees",INR\tIndian rupee,NaN,NaN,HTML/CSS;JavaScript;Node.js;Python;TypeScript,HTML/CSS;JavaScript;Node.js;PowerShell;Python;...,Firebase;MongoDB;Redis,DynamoDB;Elasticsearch;Firebase;MongoDB;Redis,AWS;DigitalOcean;Heroku;Microsoft Azure;Oracle...,AWS;DigitalOcean;Google Cloud Platform;Heroku;...,Angular;Express;React.js,Angular;Express;React.js,Cordova,Cordova,Docker;Git;Kubernetes,Docker;Git;Kubernetes,Visual Studio Code;Xcode,Visual Studio Code;Xcode,MacOS,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow,Multiple times per day,Yes,Less than once per month or monthly,"Yes, definitely",No,25-34 years old,Man,No,Prefer not to say,I don't know,None of the above,None of the above,Too long,Neither easy nor difficult,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83400,I am a developer by profession,Employed full-time,India,NaN,NaN,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,6,"Developer, front-end",20 to 99 employees,INR\tIndian rupee,2000000.0,Yearly,HTML/CSS;JavaScript;TypeScript,JavaScript;Node.js,NaN,NaN,AWS;Microsoft Azure,AWS,Angular;React.js,Gatsby;React.js;Svelte;Vue.js,React Native,NaN,Git;Yarn,Git;Yarn,Vim;Visual Studio Code,Vim;Visual Studio Code;Webstorm,MacOS,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,A few times per week,"Yes, definitely",No,25-34 years old,Man,No,Straight / Heterosexual,South Asian,None of the above,None of the above,Too short,Easy,27923.0
83407,I am a student who is learning to code,"Student, full-time",India,NaN,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",2,NaN,NaN,NaN,NaN,NaN,NaN,C;C++;Python,C;C#;C++;HTML/CSS;JavaScript;Python;Rust;SQL;T...,MySQL,MySQL;Oracle,NaN,NaN,NaN,NaN,NumPy,.NET Framework;Flutter;NumPy;React Native;Tens...,Git,Deno;Docker;Git,PyCharm;Visual Studio Code,NaN,Windows,Visit Stack Overflow;Google it;Do other work a...,Stack Overflow;Stack Exchange,A few times per month or weekly,Yes,I have never participated in Q&A on Stack Over...,"No, not really",Yes,18-24 years old,Man,No,Straight / Heterosexual,South Asian,None of the above,None of the above,Appropriate in length,Easy,NaN
83411,I am a student who is learning to code,"Student, part-time",India,NaN,NaN,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,"Other online resources (ex: videos, blogs, etc)",1,NaN,NaN,NaN,NaN,NaN,NaN,C++;JavaScript;Python;TypeScript,C++;JavaScript;Python;TypeScript,MongoDB;PostgreSQL;SQLite,MongoDB;PostgreSQL;SQLite,Heroku,Heroku,Express;React.js,Express;React.js,Keras;NumPy;TensorFlow,Keras;NumPy;TensorFlow,Docker;Git;Unreal Engine,Docker;Git;Unreal Engine,Android Studio;Atom;Eclipse;IntelliJ;IPython/J...,IPython/Jupyter;PyCharm;Vim;Visual Studio;Visu...,Windows,Google it;Panic,Stack Overflow;Stack Exchange,Multiple times per day,Yes,I have never participated in Q&A on Stack Over...,"Yes, definitely",No,18-24 years old,Man,No,Straight / Heterosexual,I don't know,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,NaN
83412,I am a developer by profession,Employed full-time,India,NaN,NaN,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",8,5,"Developer, back-end",100 to 499 employees,INR\tIndian rupee,3500000.0,Yearly,Java;JavaScript;SQL,Go;Java;Kotlin;Node.js;SQL,MySQL,Cassandra;Elasticsearch;Redis,AWS,AWS;Google Cloud Platform,Spring,Spring,NaN,NaN,Docker;Git,Ansible;Docker;Git;Kubernetes;Terraform,Eclipse;Sublime Text;Visual Studio Code,Eclipse;IntelliJ;Sublime Text,MacOS,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange;Stack Overflow f...,Daily or almost daily,Yes,Less than once per month or monthly,"Yes, somewhat",No,25-34 years old,Man,No,Straight / Heterosexual,South Asian,None of the above,None of the above,Appropriate in length,Easy,48866.0
83418,I am a developer by profession,"Student, full-time",India,NaN,NaN,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,School;Friend or family member;Online Courses ...,3,NaN,NaN,NaN,NaN,NaN,NaN,Bash/Shell;C;C++;Java;SQL,Bash/Shell;C++;SQL,PostgreSQL;SQLite,PostgreSQL,AWS,Google Cloud Platform;Microsoft Azure,Spring,jQuery;Spring,NaN,NaN,Docker;Git,Docker;Git,IntelliJ;Vim;Visual Studio Code,IntelliJ;Vim;Visual Studio Code,Linux-based,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange;Stack Overflow f...,Multiple times per day,Yes,Daily or almost daily,"Yes, definitely",Yes,18-24 years old,Man,No,NaN,South Asian,NaN,NaN,Appropriate in length,Neither easy nor difficult,NaN

In [90]:
# use the string method
# i want all the responses from India
# when i get that results, i also want the language work with
# this just return true an false values


filt = df['Country'] == 'India'
df.loc[filt]['LanguageHaveWorkedWith'].str.contains('Python')

ResponseId
9        False
23        True
40        True
50        True
53        True
         ...
83400    False
83407     True
83411     True
83412    False
83418    False
Name: LanguageHaveWorkedWith, Length: 10511, dtype: object

In [92]:
# if you want to actually count
# sum can also work at booleans (true = 1, false =0)
# so there are 5233 who knows python in india

filt = df['Country'] == 'India'
df.loc[filt]['LanguageHaveWorkedWith'].str.contains('Python').sum()

5233

In [93]:
# this gives us an error
# AttributeError: 'SeriesGroupBy' object has no attribute 'str'
# use the apply method instead

country_grp['LanguageHaveWorkedWith'].str.contains('Python')

AttributeError: 'SeriesGroupBy' object has no attribute 'str'

In [95]:
# apply the map method instead

country_grp['LanguageHaveWorkedWith'].apply(lambda x: x.str.contains('Python').sum())

Country
Afghanistan                              20
Albania                                  30
Algeria                                  19
Andorra                                   4
Angola                                    5
                                       ...
Venezuela, Bolivarian Republic of...     43
Viet Nam                                173
Yemen                                     6
Zambia                                   12
Zimbabwe                                 17
Name: LanguageHaveWorkedWith, Length: 181, dtype: int64

In [97]:
# total number of respondents
country_respondents = df['Country'].value_counts()
country_respondents

United States of America                                15288
India                                                   10511
Germany                                                  5625
United Kingdom of Great Britain and Northern Ireland     4475
Canada                                                   3012
                                                        ...
Saint Kitts and Nevis                                       1
Dominica                                                    1
Saint Vincent and the Grenadines                            1
Tuvalu                                                      1
Papua New Guinea                                            1
Name: Country, Length: 181, dtype: int64

In [98]:
# knows python

country_uses_python = country_grp['LanguageHaveWorkedWith'].apply(lambda x: x.str.contains('Python').sum())
country_uses_python

Country
Afghanistan                              20
Albania                                  30
Algeria                                  19
Andorra                                   4
Angola                                    5
                                       ...
Venezuela, Bolivarian Republic of...     43
Viet Nam                                173
Yemen                                     6
Zambia                                   12
Zimbabwe                                 17
Name: LanguageHaveWorkedWith, Length: 181, dtype: int64

In [102]:
# combine the two dataframe above
# can combine more than one series together using concat
# axis = column will concat column
# better put the sort 

python_df = pd.concat([country_respondents,country_uses_python],axis = 'columns', sort = False )
python_df

,Country,LanguageHaveWorkedWith
United States of America,15288,7975
India,10511,5233
Germany,5625,2713
United Kingdom of Great Britain and Northern Ireland,4475,2149
Canada,3012,1593
...,...,...
Saint Kitts and Nevis,1,0
Dominica,1,1
Saint Vincent and the Grenadines,1,0
Tuvalu,1,1
Papua New Guinea,1,0

In [103]:
# rename columns

python_df.rename(columns={'Country':'NumberRespondents', 'LanguageHaveWorkedWith':'NumKnowsPython'})

,NumberRespondents,NumKnowsPython
United States of America,15288,7975
India,10511,5233
Germany,5625,2713
United Kingdom of Great Britain and Northern Ireland,4475,2149
Canada,3012,1593
...,...,...
Saint Kitts and Nevis,1,0
Dominica,1,1
Saint Vincent and the Grenadines,1,0
Tuvalu,1,1
Papua New Guinea,1,0

In [104]:
# since it looks good, put inplace = True

python_df.rename(columns={'Country':'NumberRespondents', 'LanguageHaveWorkedWith':'NumKnowsPython'},inplace = True)

In [105]:
python_df

,NumberRespondents,NumKnowsPython
United States of America,15288,7975
India,10511,5233
Germany,5625,2713
United Kingdom of Great Britain and Northern Ireland,4475,2149
Canada,3012,1593
...,...,...
Saint Kitts and Nevis,1,0
Dominica,1,1
Saint Vincent and the Grenadines,1,0
Tuvalu,1,1
Papua New Guinea,1,0

In [108]:
# we have all the information that we need
# now we need to get the percentage
# (part/whole) * 100

python_df['PctKnowsPython'] = (python_df['NumKnowsPython']/python_df['NumberRespondents'])*100

In [110]:
# can use in other dataframe

python_df

,NumberRespondents,NumKnowsPython,PctKnowsPython
United States of America,15288,7975,52.165097
India,10511,5233,49.785939
Germany,5625,2713,48.231111
United Kingdom of Great Britain and Northern Ireland,4475,2149,48.022346
Canada,3012,1593,52.888446
...,...,...,...
Saint Kitts and Nevis,1,0,0.000000
Dominica,1,1,100.000000
Saint Vincent and the Grenadines,1,0,0.000000
Tuvalu,1,1,100.000000
Papua New Guinea,1,0,0.000000

In [112]:
# sort

python_df.sort_values(by='PctKnowsPython', ascending=False)

,NumberRespondents,NumKnowsPython,PctKnowsPython
Tuvalu,1,1,100.0
Brunei Darussalam,1,1,100.0
Sierra Leone,2,2,100.0
Dominica,1,1,100.0
Liechtenstein,1,1,100.0
...,...,...,...
Mali,2,0,0.0
Saint Kitts and Nevis,1,0,0.0
Saint Vincent and the Grenadines,1,0,0.0
Lesotho,4,0,0.0
Papua New Guinea,1,0,0.0

In [113]:

python_df.sort_values(by='PctKnowsPython', ascending=False, inplace = True)

In [114]:
python_df

,NumberRespondents,NumKnowsPython,PctKnowsPython
Tuvalu,1,1,100.0
Brunei Darussalam,1,1,100.0
Sierra Leone,2,2,100.0
Dominica,1,1,100.0
Liechtenstein,1,1,100.0
...,...,...,...
Mali,2,0,0.0
Saint Kitts and Nevis,1,0,0.0
Saint Vincent and the Grenadines,1,0,0.0
Lesotho,4,0,0.0
Papua New Guinea,1,0,0.0

In [115]:
python_df.head(50)

,NumberRespondents,NumKnowsPython,PctKnowsPython
Tuvalu,1,1,100.000000
Brunei Darussalam,1,1,100.000000
Sierra Leone,2,2,100.000000
Dominica,1,1,100.000000
Liechtenstein,1,1,100.000000
Burundi,5,4,80.000000
Namibia,12,9,75.000000
Burkina Faso,4,3,75.000000
Bahamas,7,5,71.428571
Qatar,29,20,68.965517
Liberia,3,2,66.666667
Saint Lucia,3,2,66.666667
Cuba,34,22,64.705882
Iceland,43,27,62.790698
Bhutan,5,3,60.000000
Isle of Man,5,3,60.000000
Haiti,5,3,60.000000
Belize,5,3,60.000000
Singapore,339,203,59.882006
Republic of Korea,54,31,57.407407
Senegal,28,16,57.142857
Guyana,7,4,57.142857
Israel,913,515,56.407448
Maldives,16,9,56.250000
Oman,20,11,55.000000
Mauritius,31,17,54.838710
Zambia,22,12,54.545455
Chile,230,123,53.478261
Hong Kong (S.A.R.),198,105,53.030303
Canada,3012,1593,52.888446
Nepal,337,178,52.818991
Tunisia,150,79,52.666667
France,2708,1423,52.548006
Uganda,63,33,52.380952
United States of America,15288,7975,52.165097
Palestine,25,13,52.000000
Slovenia,235,122,51.914894
Azerbaijan,64,33,51.562500
Luxembourg,51,26,50.980392
Switzerland,922,470,50.976139
Australia,1646,831,50.486027
Kenya,263,132,50.190114
Democratic Republic of the Congo,10,5,50.000000
Guinea,2,1,50.000000
Jamaica,20,10,50.000000
Nomadic,54,27,50.000000
"Micronesia, Federated States of...",2,1,50.000000
Chad,2,1,50.000000
Gambia,2,1,50.000000
Swaziland,10,5,50.000000

In [116]:
# check japan only

python_df.loc['Japan']

NumberRespondents    429.000000
NumKnowsPython       209.000000
PctKnowsPython        48.717949
Name: Japan, dtype: float64

In [117]:
# END 
# June 25, 2022 | 1:02 PM