In [1]:
import pandas as pd

In [2]:
# read the csv in

df = pd.read_csv('/Users/jean110284/Desktop/Everything/MJUPython/survey_results_public.csv')
schema_df = pd.read_csv('/Users/jean110284/Desktop/Everything/MJUPython/survey_results_schema.csv')

In [3]:
# to see all rows and columns

pd.set_option('display.max_columns', 85)
pd.set_option('display.max_rows', 85)

In [4]:
df.head(2)

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,NaN,"Developer, mobile",20 to 99 employees,EUR European Euro,4800.0,Monthly,C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift,Swift,PostgreSQL;SQLite,SQLite,NaN,NaN,Laravel;Symfony,NaN,NaN,NaN,NaN,NaN,PHPStorm;Xcode,Atom;Xcode,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Multiple times per day,Yes,A few times per month or weekly,"Yes, definitely",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
1,2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,NaN,NaN,NaN,NaN,NaN,NaN,JavaScript;Python,NaN,PostgreSQL,NaN,NaN,NaN,Angular;Flask;Vue.js,NaN,Cordova,NaN,Docker;Git;Yarn,Git,Android Studio;IntelliJ;Notepad++;PyCharm,NaN,Windows,Visit Stack Overflow;Google it,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,"Yes, definitely",No,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN

In [5]:
# these data are survey results
# each row is a survey per person
# if you want to know what a hobbiest as an example,use schema

schema_df = pd.read_csv('/Users/jean110284/Desktop/Everything/MJUPython/survey_results_schema.csv')

In [6]:
schema_df

,qid,qname,question,force_resp,type,selector
0,QID16,S0,"<div><span style=""font-size:19px;""><strong>Hel...",False,DB,TB
1,QID12,MetaInfo,Browser Meta Info,False,Meta,Browser
2,QID1,S1,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
3,QID2,MainBranch,Which of the following options best describes ...,True,MC,SAVR
4,QID24,Employment,Which of the following best describes your cur...,False,MC,MAVR
5,QID6,Country,"Where do you live? <span style=""font-weight: b...",True,MC,DL
6,QID7,US_State,<p>In which state or territory of the USA do y...,False,MC,DL
7,QID9,UK_Country,In which part of the United Kingdom do you liv...,False,MC,DL
8,QID190,S2,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
9,QID25,EdLevel,Which of the following best describes the high...,False,MC,SAVR
10,QID149,Age1stCode,At what age did you write your first line of c...,False,MC,MAVR
11,QID276,LearnCode,How did you learn to code? Select all that apply.,False,MC,MAVR
12,QID32,YearsCode,"Including any education, how many years have y...",False,MC,DL
13,QID34,YearsCodePro,"NOT including education, how many years have y...",False,MC,DL
14,QID31,DevType,Which of the following describes your current ...,False,MC,MAVR
15,QID29,OrgSize,Approximately how many people are employed by ...,False,MC,MAVR
16,QID50,Currency,Which currency do you use day-to-day? If your ...,True,MC,SB
17,QID51,CompTotal,What is your current total compensation (salar...,False,TE,SL
18,QID52,CompFreq,"Is that compensation weekly, monthly, or yearly?",False,MC,MAVR
19,QID61,S3,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
20,QID233,Language,"Which <b>programming, scripting, and markup la...",False,Matrix,Likert
21,QID262,Database,Which <b>database environments </b>have you do...,False,Matrix,Likert
22,QID263,Platform,Which <b>cloud platforms</b> have you done ext...,False,Matrix,Likert
23,QID264,Webframe,Which <strong>web frameworks </strong><span st...,False,Matrix,Likert
24,QID265,MiscTech,Which <b>other frameworks and libraries</b> ha...,False,Matrix,Likert
25,QID275,ToolsTech,Which <strong>tools</strong> have you done ext...,False,Matrix,Likert
26,QID274,NEWCollabTools,Which <strong>development environments</strong...,False,Matrix,Likert
27,QID71,OpSys,What is the primary operating system in which ...,False,MC,SAVR
28,QID243,NEWStuck,What do you do when you get stuck on a problem...,False,MC,MAVR
29,QID91,S4,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
30,QID266,NEWSOSites,Which of the following Stack Overflow sites ha...,False,MC,MAVR
31,QID100,SOVisitFreq,How frequently would you say you visit Stack O...,False,MC,MAVR
32,QID101,SOAccount,Do you have a Stack Overflow account?,False,MC,MAVR
33,QID102,SOPartFreq,How frequently would you say you participate i...,False,MC,MAVR
34,QID106,SOComm,Do you consider yourself a member of the Stack...,False,MC,MAVR
35,QID267,NEWOtherComms,Are you a member of any other online developer...,False,MC,MAVR
36,QID268,NEWOtherCommsNames,Please name up to 5 other online developer com...,False,Matrix,Likert
37,QID121,S5,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
38,QID127,Age,What is your age?,False,MC,MAVR
39,QID122,Gender,"Which of the following describe you, if any? P...",False,MC,MAVR
40,QID153,Trans,Do you identify as transgender?,False,MC,MAVR
41,QID136,Sexuality,"Which of the following describe you, if any? P...",False,MC,MAVR
42,QID126,Ethnicity,"Which of the following describe you, if any? P...",False,MC,MAVR
43,QID124,Accessibility,"Which of the following describe you, if any? P...",False,MC,MAVR
44,QID125,MentalHealth,"Which of the following describe you, if any? P...",False,MC,MAVR
45,QID131,S6,"<span style=""font-size:22px;""><strong>Final Qu...",False,DB,TB
46,QID132,SurveyLength,How do you feel about the length of the survey...,False,MC,MAVR
47,QID133,SurveyEase,How easy or difficult was this survey to compl...,False,MC,MAVR

In [7]:
# dictionary

person = {
    "first":"Corey",
    "last":"Jane",
    "email":"CoreyMSchaffer@gmail.com"
}

In [8]:
person

{'first': 'Corey', 'last': 'Jane', 'email': 'CoreyMSchaffer@gmail.com'}

In [9]:
# dictionary in a list

people = {
    "first":["Corey"],
    "last":["Jane"],
    "email":["CoreyMSchaffer@gmail.com"]
}

In [10]:
people

{'first': ['Corey'], 'last': ['Jane'], 'email': ['CoreyMSchaffer@gmail.com']}

In [11]:
# dictionary with list of people - keys are columns and values are rows

people = {
    "first":["Corey","Jane","John"],
    "last":["Jane","Doe","Doe"],
    "email":["CoreyMSchaffer@gmail.com","JaneDoe@email.com","JohnDoe@email.com"] 
}

In [12]:
people

{'first': ['Corey', 'Jane', 'John'],
 'last': ['Jane', 'Doe', 'Doe'],
 'email': ['CoreyMSchaffer@gmail.com',
  'JaneDoe@email.com',
  'JohnDoe@email.com']}

In [13]:
# check the email

people['email']

['CoreyMSchaffer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com']

In [14]:
# turn it into a dictionary

import pandas as pd

In [15]:
df = pd.DataFrame(people)

In [16]:
df

   first  last                     email
0  Corey  Jane  CoreyMSchaffer@gmail.com
1   Jane   Doe         JaneDoe@email.com
2   John   Doe         JohnDoe@email.com

In [17]:
# 0, 1, 2 are indexes which are unique values for rows but it doesn't need to be unique

In [18]:
# access info within the dataframe
# access a single column 'email'
# it returns a series

df['email']

0    CoreyMSchaffer@gmail.com
1           JaneDoe@email.com
2           JohnDoe@email.com
Name: email, dtype: object

In [19]:
# check the type of email

type(df['email'])

pandas.core.series.Series

In [20]:
# a series is a list of data, which has a lot of functionality,
# a one dimensional array or one row of a single column
# a dataframe is a container of multiple objects
# the dataframe that we used are 2 dimensional because it has rows and columns
# a series also has an index (0,1,2)

In [21]:
# dot notatation is also used

df.email

0    CoreyMSchaffer@gmail.com
1           JaneDoe@email.com
2           JohnDoe@email.com
Name: email, dtype: object

In [22]:
# we can see that this returns thesame series objects
# whichever you use, but [''] is recommended because dot notation can get complicated
# so brackets will be used brackets throughout the series

In [23]:
# if you want to access both last names and first names
# there are two brackets to let panda know that you are accessing multiple columns
# if only one bracket is used, panda will think you are accessing multiple column names

df[['last','email']]

   last                     email
0  Jane  CoreyMSchaffer@gmail.com
1   Doe         JaneDoe@email.com
2   Doe         JohnDoe@email.com

In [24]:
# now that we're getting multiple columns,
# this can no longer be a series
# in this case it is a filtered dataframe
# we can slice it as well

In [25]:
# if you want to see the column names

df.columns

Index(['first', 'last', 'email'], dtype='object')

In [26]:
# if you want to see the rows
# use the loc and iloc indexes
# iloc allows us to access the integer location, hence the name
# [0] is the first row
# index here are column names
# iloc means integer location so it is for integer only

df.iloc[0]

first                       Corey
last                         Jane
email    CoreyMSchaffer@gmail.com
Name: 0, dtype: object

In [27]:
# select multiple rows
# use two brackets

df.iloc[[0,1]]

   first  last                     email
0  Corey  Jane  CoreyMSchaffer@gmail.com
1   Jane   Doe         JaneDoe@email.com

In [28]:
# can also select columns 
# df.iloc[[0,1], put the columns here]
# so if we wanted to grab the email address of the first two rows
# then pass the column number
# now we can see the email addresses of the first two rows

df.iloc[[0,1],2]

0    CoreyMSchaffer@gmail.com
1           JaneDoe@email.com
Name: email, dtype: object

In [29]:
# loc - to search for label
# we don't have custom index right now
# so we're using default indexes right now
# quick look at our dataframe
df

   first  last                     email
0  Corey  Jane  CoreyMSchaffer@gmail.com
1   Jane   Doe         JaneDoe@email.com
2   John   Doe         JohnDoe@email.com

In [30]:
df.loc[0]

first                       Corey
last                         Jane
email    CoreyMSchaffer@gmail.com
Name: 0, dtype: object

In [31]:
# this looks similar to iloc
# can also do

df.loc[[0,1]]

   first  last                     email
0  Corey  Jane  CoreyMSchaffer@gmail.com
1   Jane   Doe         JaneDoe@email.com

In [32]:
# can also pass in with second value
# we can use labels

df.loc[[0,1],'email']

0    CoreyMSchaffer@gmail.com
1           JaneDoe@email.com
Name: email, dtype: object

In [33]:
# can also pass in a list of strings

df.loc[[0,1],['email','last']]

                      email  last
0  CoreyMSchaffer@gmail.com  Jane
1         JaneDoe@email.com   Doe

In [36]:
# let's go back to our dataset from StackOverFlow
# check how many rows and columns,use the shape attribute

df = pd.read_csv('/Users/jean110284/Desktop/Everything/MJUPython/survey_results_public.csv')
df.shape

(83439, 48)

In [38]:
# let's grab all of the responses
# check first the columnn names
df.columns

Index(['ResponseId', 'MainBranch', 'Employment', 'Country', 'US_State',
       'UK_Country', 'EdLevel', 'Age1stCode', 'LearnCode', 'YearsCode',
       'YearsCodePro', 'DevType', 'OrgSize', 'Currency', 'CompTotal',
       'CompFreq', 'LanguageHaveWorkedWith', 'LanguageWantToWorkWith',
       'DatabaseHaveWorkedWith', 'DatabaseWantToWorkWith',
       'PlatformHaveWorkedWith', 'PlatformWantToWorkWith',
       'WebframeHaveWorkedWith', 'WebframeWantToWorkWith',
       'MiscTechHaveWorkedWith', 'MiscTechWantToWorkWith',
       'ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith',
       'NEWCollabToolsHaveWorkedWith', 'NEWCollabToolsWantToWorkWith', 'OpSys',
       'NEWStuck', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'NEWOtherComms', 'Age', 'Gender', 'Trans', 'Sexuality',
       'Ethnicity', 'Accessibility', 'MentalHealth', 'SurveyLength',
       'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')

In [40]:
df['PlatformHaveWorkedWith']

0                              NaN
1                              NaN
2                           Heroku
3                              NaN
4                              NaN
                   ...
83434                          AWS
83435                          NaN
83436    AWS;Google Cloud Platform
83437                       Heroku
83438              Microsoft Azure
Name: PlatformHaveWorkedWith, Length: 83439, dtype: object

In [41]:
# get the count of unique values

df['PlatformHaveWorkedWith'].value_counts()

AWS                                                                                              11454
Microsoft Azure                                                                                   6660
Google Cloud Platform                                                                             4654
Heroku                                                                                            3865
AWS;Google Cloud Platform                                                                         3116
                                                                                                 ...
AWS;Google Cloud Platform;Heroku;IBM Cloud or Watson;Oracle Cloud Infrastructure                     1
AWS;DigitalOcean;Google Cloud Platform;Heroku;IBM Cloud or Watson;Oracle Cloud Infrastructure        1
DigitalOcean;Google Cloud Platform;Heroku;Microsoft Azure;Oracle Cloud Infrastructure                1
DigitalOcean;IBM Cloud or Watson;Microsoft Azure;Oracle Cloud Infrastructure                         1
DigitalOcean;Heroku;IBM Cloud or Watson;Oracle Cloud Infrastructure                                  1
Name: PlatformHaveWorkedWith, Length: 118, dtype: int64

In [42]:
# get the count of unique values

df['DatabaseHaveWorkedWith'].value_counts()

MySQL                                                                               4777
Microsoft SQL Server                                                                3823
PostgreSQL                                                                          3537
SQLite                                                                              2191
MongoDB                                                                             1656
                                                                                    ...
Couchbase;MariaDB;Microsoft SQL Server;MongoDB;MySQL;SQLite                            1
Cassandra;DynamoDB;Elasticsearch;Firebase;MongoDB                                      1
DynamoDB;Firebase;MariaDB;Microsoft SQL Server;MongoDB;MySQL;Oracle;Redis;SQLite       1
Couchbase;Elasticsearch;Firebase;Microsoft SQL Server;MongoDB;MySQL;SQLite             1
DynamoDB;IBM DB2;Microsoft SQL Server;PostgreSQL;Redis                                 1
Name: DatabaseHaveWorkedWith, Length: 3072, dtype: int64

In [43]:
# grab first row and same column for that row

df.loc[0]

ResponseId                                                                      1
MainBranch                                         I am a developer by profession
Employment                      Independent contractor, freelancer, or self-em...
Country                                                                  Slovakia
US_State                                                                      NaN
UK_Country                                                                    NaN
EdLevel                         Secondary school (e.g. American high school, G...
Age1stCode                                                          18 - 24 years
LearnCode                       Coding Bootcamp;Other online resources (ex: vi...
YearsCode                                                                     NaN
YearsCodePro                                                                  NaN
DevType                                                         Developer, mobile
OrgSize                                                        20 to 99 employees
Currency                                                        EUR European Euro
CompTotal                                                                  4800.0
CompFreq                                                                  Monthly
LanguageHaveWorkedWith              C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift
LanguageWantToWorkWith                                                      Swift
DatabaseHaveWorkedWith                                          PostgreSQL;SQLite
DatabaseWantToWorkWith                                                     SQLite
PlatformHaveWorkedWith                                                        NaN
PlatformWantToWorkWith                                                        NaN
WebframeHaveWorkedWith                                            Laravel;Symfony
WebframeWantToWorkWith                                                        NaN
MiscTechHaveWorkedWith                                                        NaN
MiscTechWantToWorkWith                                                        NaN
ToolsTechHaveWorkedWith                                                       NaN
ToolsTechWantToWorkWith                                                       NaN
NEWCollabToolsHaveWorkedWith                                       PHPStorm;Xcode
NEWCollabToolsWantToWorkWith                                           Atom;Xcode
OpSys                                                                       MacOS
NEWStuck                        Call a coworker or friend;Visit Stack Overflow...
NEWSOSites                                                         Stack Overflow
SOVisitFreq                                                Multiple times per day
SOAccount                                                                     Yes
SOPartFreq                                        A few times per month or weekly
SOComm                                                            Yes, definitely
NEWOtherComms                                                                  No
Age                                                               25-34 years old
Gender                                                                        Man
Trans                                                                          No
Sexuality                                                 Straight / Heterosexual
Ethnicity                                            White or of European descent
Accessibility                                                   None of the above
MentalHealth                                                    None of the above
SurveyLength                                                Appropriate in length
SurveyEase                                                                   Easy
ConvertedCompYearly                                                       62268.0
Name: 0, dtype: object

In [46]:
# if you want to get the data on a certain ids/rows

df.loc[[0,1,2],'Employment']

0    Independent contractor, freelancer, or self-em...
1                                   Student, full-time
2                                   Student, full-time
Name: Employment, dtype: object

In [47]:
# slicing - no need to wrap in bracket

df.loc[0:2,'Employment']

0    Independent contractor, freelancer, or self-em...
1                                   Student, full-time
2                                   Student, full-time
Name: Employment, dtype: object

In [48]:
# same result as above

In [49]:
df.columns

Index(['ResponseId', 'MainBranch', 'Employment', 'Country', 'US_State',
       'UK_Country', 'EdLevel', 'Age1stCode', 'LearnCode', 'YearsCode',
       'YearsCodePro', 'DevType', 'OrgSize', 'Currency', 'CompTotal',
       'CompFreq', 'LanguageHaveWorkedWith', 'LanguageWantToWorkWith',
       'DatabaseHaveWorkedWith', 'DatabaseWantToWorkWith',
       'PlatformHaveWorkedWith', 'PlatformWantToWorkWith',
       'WebframeHaveWorkedWith', 'WebframeWantToWorkWith',
       'MiscTechHaveWorkedWith', 'MiscTechWantToWorkWith',
       'ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith',
       'NEWCollabToolsHaveWorkedWith', 'NEWCollabToolsWantToWorkWith', 'OpSys',
       'NEWStuck', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'NEWOtherComms', 'Age', 'Gender', 'Trans', 'Sexuality',
       'Ethnicity', 'Accessibility', 'MentalHealth', 'SurveyLength',
       'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')

In [51]:
# slice columns from row 1 to 3 and from column edlevel to learn code

df.loc[0:2, 'EdLevel':'LearnCode']

,EdLevel,Age1stCode,LearnCode
0,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...
1,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc..."
2,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc..."

In [52]:
# END June 23, 2022 | 12:20 PM