In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/LinkedInLearning/data_cleaning_python_2883183/main/Ch05/05_01/weather.csv')

In [3]:
df.head()

         DATE  TMIN  TMAX
0  2021-04-25    18    28
1  2021-04-26    16    23
2  2021-04-27    17    24
3  2021-04-28    15    25
4  2021-04-29    17    28

In [4]:
df.rename(columns = { 
            'DATE':'date',
            'TMIN':'min_temp',
            'TMAX':'max_temp',
                    },
              inplace = True
         )

In [5]:
df

         date  min_temp  max_temp
0  2021-04-25        18        28
1  2021-04-26        16        23
2  2021-04-27        17        24
3  2021-04-28        15        25
4  2021-04-29        17        28

In [8]:
df1 = pd.read_csv('https://raw.githubusercontent.com/LinkedInLearning/data_cleaning_python_2883183/main/Ch05/05_01/donations.csv')

In [9]:
df1

  1. First Name 2. Last Name  3. Donation Amount
0           Amy         Wang                 200
1        Bender    Rodriguez                  12
2        Philip          Fry                  70

In [10]:
import re

    """Fix column name
    >>> fix_col('1. First Name')
    'first_name'
    """

In [23]:
def fix_col(col):

    return (
        re.sub(r'\d+\.\s+', '', col)
        .lower()
        .replace(' ', '_')
    )

In [24]:
df1.rename(columns = fix_col, inplace=True)
df1

  first_name  last_name  donation_amount
0        Amy       Wang              200
1     Bender  Rodriguez               12
2     Philip        Fry               70