In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/LinkedInLearning/data_cleaning_python_2883183/main/Ch05/05_06/metrics.csv',parse_dates=['time'])

In [3]:
df

                 time   cpu  memory
0 2021-07-23 14:33:04  30.2  571.83
1 2021-07-23 14:44:05  32.9  524.72
2 2021-07-23 14:55:06  37.1  617.90

In [4]:
df.dtypes

time      datetime64[ns]
cpu              float64
memory           float64
dtype: object

In [5]:
# transposing column to rows
# take the df dataframe, use cpu and memory as value vars, use time as identifier and name it a metric
df = pd.melt(
    df,
    value_vars=['cpu', 'memory'],
    id_vars=['time'],
    var_name='metric',
)
df

                 time  metric   value
0 2021-07-23 14:33:04     cpu   30.20
1 2021-07-23 14:44:05     cpu   32.90
2 2021-07-23 14:55:06     cpu   37.10
3 2021-07-23 14:33:04  memory  571.83
4 2021-07-23 14:44:05  memory  524.72
5 2021-07-23 14:55:06  memory  617.90